<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="allfile"
            fileName="${basedir}/../../Modules/DellarteDellaGuerra.Core/log/dadg-${shortdate}.log"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss} | ${uppercase:${level:format=FirstCharacter}} | ${logger}] ${message}${exception:format=tostring}" />
    <target
            xsi:type="Console"
            name="console"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss} | ${uppercase:${level:format=FirstCharacter}} | ${logger}] ${message}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="allfile,console" />
  </rules>  
</nlog>
